.aboutMain {
  margin: 0 auto;
  max-width: 60rem;
  padding: 2rem;
}

p {
  margin-bottom: 1rem;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.mainImg {
  border-radius: 10px 10px 50% 50%;
  image-rendering: crisp-edges;
  width: 90%;
}

h1 {
  margin-bottom: 2rem;
}

p {
  color: #555;
}

button {
  color: #fff;
  background-color: #000;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  border: none;
}

button:hover {
  background-color: #222;
  text-decoration: unerline;
  border-radius: 55px;
}

@media only screen and (max-width: 700px) {
  .grid2 {
    display: block;
  }
}
